.header h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
h3{
  text-align: center;
}
div.row {
  position: relative;
  top: 30px;
}
div(
      class = "main-panel",
      style = "flex-grow: 1; margin-left: 20px;resize:both;overflow:auto;",  # main panel left margin
      h2("Main Panel"),
      plotOutput("plot")
    )

body{
  font-family: 'Manrope', sans-serif;
}


.header {
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.topleft {
  position: relative;
  top: 0px;
}

div.button{
  text-align: center;
}

.responsive-img {
            max-width: 100%;
            height: auto;
            display: block;
}


.spinner-custom {
  width: 1000px; /* Adjust width */
  height: 1000px; /* Adjust height */
}