.header h2 {
  font-size: 60px;
  color: #006494 !important; 
  font-weight: bold;
  font-family: "Playfair Display", serif !important;
  text-align: center;
}
h3{
  text-align: center;
}
div.row {
  position: relative;
  top: 30px;
}
div(
      class = "main-panel",
      style = "flex-grow: 1; margin-left: 20px;resize:both;overflow:auto;",  # main panel left margin
      h2("Main Panel"),
      plotOutput("plot")
    )

body{
  font-family: 'Manrope', sans-serif;
}


.header {
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.topleft {
  position: relative;
  top: 0px;
}

div.button{
  text-align: center;
}

.responsive-img {
            max-width: 100%;
            height: auto;
            display: block;
}

.navbar {
    background-color: #006494 !important; /* Deep Blue */
    border-bottom: 3px solid #1B98E0; /* Light Blue accent */
}

.irs {
    width: 100% !important;
    max-width: 800px !important; /* Adjust if needed */
    margin: auto !important;
}

/* Make the selection bar (blue line) thicker */
.irs-bar {
    height: 10px !important;
    background-color: #1B98E0 !important; /* Ensure color is applied */
}

/* Make the round slider handles larger */
.irs-slider {
    width: 22px !important;
    height: 22px !important;
    background-color: #006494 !important; /* Match theme */
}

/* Reduce text size for better fit */
.irs-grid-text {
    font-size: 14px !important;
}

/* Add spacing to the bottom */
.irs {
    padding-bottom: 10px !important;
}

#yearRange .irs-single, 
#yearRange .irs-from, 
#yearRange .irs-to {
    font-size: 16px !important;  /* Adjust the size as needed */
    font-weight: bold !important;
    color: white !important;  /* Change text color */
    background-color: #006494 !important; /* Background color */
    padding: 5px 10px !important; /* Add some spacing */
    border-radius: 5px !important; /* Rounded corners */
}

.navbar {
    background-color: #006494 !important; /* Deep Blue */
    border-bottom: 3px solid #1B98E0; /* Light Blue accent */
}

/* Change navbar title (brand) font size and color */
.navbar-brand {
    font-size: 24px !important;
    color: white !important;
}

/* Change navigation tabs font size */
.navbar-nav > li > a {
    color: white !important;
    font-size: 18px !important;
    background-color: transparent !important;
}


.navbar-nav > li.active > a,
.navbar-nav > li.active > a:focus,
.navbar-nav > li.active > a:hover {
    background-color: #1B98E0 !important; /* Light Blue */
    color: white !important;
    font-size: 18px !important;
    box-shadow: none !important;
}

.navbar-nav > li > a:hover {
    background-color: #1B98E0 !important; /* Light Blue */
    color: white !important;
}


.navbar-nav > li > a:focus {
    background-color: #1B98E0 !important; /* Light Blue */
    color: white !important;
    outline: none !important;
}